[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/AndreiDomasevich
[access "refs/for/refs/*"]
	read = group user/AndreiDomasevich
	push = group user/AndreiDomasevich
	label-Code-Review = -2..+2 group user/AndreiDomasevich
	label-Verified = -1..+1 group user/AndreiDomasevich
	rebase = group user/AndreiDomasevich
	removeReviewer = group user/AndreiDomasevich
	submit = group user/AndreiDomasevich
[access "refs/heads/*"]
	read = group user/AndreiDomasevich
	create = group user/AndreiDomasevich
	push = +force group user/AndreiDomasevich
	pushMerge = group user/AndreiDomasevich
	label-Code-Review = -2..+2 group Registered Users
[access "refs/tags/*"]
	push = +force group user/AndreiDomasevich
	createTag = group user/AndreiDomasevich
	createSignedTag = group user/AndreiDomasevich
